*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-image: url("https://media.istockphoto.com/photos/thunderstorm-lightning-with-dark-cloudy-sky-picture-id517643357?b=1&k=20&m=517643357&s=170667a&w=0&h=-ofkaxfhjSM5HshQS5bSjk0dWTQeZKDGnbdOkq3O4ro=");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name{
    width: 360px;
    text-align: center;
    padding-bottom: 15px;
    color: rgb(255, 255, 255);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    position: relative; 
    top: -125px;
    left: -30px;
}

::placeholder{
    color: white;
}


.container{
    width: 360px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}

.city{
    width: 100%;
    padding: 8px;
    font-size: 15px;
    outline: none;
    text-align: center;
    height: 40px;
    border: transparent;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    position: relative; 
    top: -100px;
} 


.search{
    outline: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
    height: 40px;
    width: 50%;
    border-radius: 12px;
    margin-top: 15px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    justify-content: center;
    align-items: center;
    position: relative; 
    top: -90px;
    left: 90px;
    background-color: rgb(0, 0, 0);
    color: white;
} 



.display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;

}
.container input[type="button"]:hover{
    background: rgba(255, 255, 255,0.1);
}